<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Data-Cleaning" data-toc-modified-id="Data-Cleaning-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Data Cleaning</a></span></li><li><span><a href="#Examining-Data-for-Potential-Issues" data-toc-modified-id="Examining-Data-for-Potential-Issues-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Examining Data for Potential Issues</a></span></li><li><span><a href="#Missing-Values" data-toc-modified-id="Missing-Values-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Missing Values</a></span><ul class="toc-item"><li><span><a href="#Show-the-number-of-null-values-only-of-the-columns-that-actually-have-null-values" data-toc-modified-id="Show-the-number-of-null-values-only-of-the-columns-that-actually-have-null-values-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>Show the number of null values only of the columns that actually have null values</a></span></li><li><span><a href="#Remove-the-columns-that-have-more-than-10,000-null-values-in-them" data-toc-modified-id="Remove-the-columns-that-have-more-than-10,000-null-values-in-them-3.2"><span class="toc-item-num">3.2&nbsp;&nbsp;</span>Remove the columns that have more than 10,000 null values in them</a></span></li><li><span><a href="#Create-a-new-dataframe-that-shows-only-the-row-where-displ-is-null." data-toc-modified-id="Create-a-new-dataframe-that-shows-only-the-row-where-displ-is-null.-3.3"><span class="toc-item-num">3.3&nbsp;&nbsp;</span>Create a new dataframe that shows only the row where <code>displ</code> is null.</a></span></li><li><span><a href="#Fill-nan-values-with-the-most-appropriate-technique" data-toc-modified-id="Fill-nan-values-with-the-most-appropriate-technique-3.4"><span class="toc-item-num">3.4&nbsp;&nbsp;</span>Fill nan values with the most appropriate technique</a></span></li><li><span><a href="#Bonus:" data-toc-modified-id="Bonus:-3.5"><span class="toc-item-num">3.5&nbsp;&nbsp;</span>Bonus:</a></span></li></ul></li><li><span><a href="#Incorrect-Values" data-toc-modified-id="Incorrect-Values-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Incorrect Values</a></span><ul class="toc-item"><li><span><a href="#Check-similar-rows" data-toc-modified-id="Check-similar-rows-4.1"><span class="toc-item-num">4.1&nbsp;&nbsp;</span>Check similar rows</a></span></li><li><span><a href="#Bonus:" data-toc-modified-id="Bonus:-4.2"><span class="toc-item-num">4.2&nbsp;&nbsp;</span>Bonus:</a></span></li></ul></li><li><span><a href="#Low-Variance-Columns" data-toc-modified-id="Low-Variance-Columns-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Low Variance Columns</a></span><ul class="toc-item"><li><span><a href="#Use-the-the-drop-method-like-we-did-earlier-in-this-lesson-to-remove-the-non-informative-columns-from-our-data-frame." data-toc-modified-id="Use-the-the-drop-method-like-we-did-earlier-in-this-lesson-to-remove-the-non-informative-columns-from-our-data-frame.-5.1"><span class="toc-item-num">5.1&nbsp;&nbsp;</span>Use the the drop method like we did earlier in this lesson to remove the non informative columns from our data frame.</a></span></li></ul></li><li><span><a href="#Extreme-Values-and-Outliers" data-toc-modified-id="Extreme-Values-and-Outliers-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>Extreme Values and Outliers</a></span></li><li><span><a href="#Data-Type-Correction" data-toc-modified-id="Data-Type-Correction-7"><span class="toc-item-num">7&nbsp;&nbsp;</span>Data Type Correction</a></span><ul class="toc-item"><li><span><a href="#Check-the-data-type-of-each-column" data-toc-modified-id="Check-the-data-type-of-each-column-7.1"><span class="toc-item-num">7.1&nbsp;&nbsp;</span>Check the data type of each column</a></span></li><li><span><a href="#Cleaning-years" data-toc-modified-id="Cleaning-years-7.2"><span class="toc-item-num">7.2&nbsp;&nbsp;</span>Cleaning years</a></span></li></ul></li><li><span><a href="#Cleaning-Text-and-Removing-Special-Characters" data-toc-modified-id="Cleaning-Text-and-Removing-Special-Characters-8"><span class="toc-item-num">8&nbsp;&nbsp;</span>Cleaning Text and Removing Special Characters</a></span></li><li><span><a href="#Finding-and-Removing-Duplicates" data-toc-modified-id="Finding-and-Removing-Duplicates-9"><span class="toc-item-num">9&nbsp;&nbsp;</span>Finding and Removing Duplicates</a></span><ul class="toc-item"><li><span><a href="#Drop-duplicate-rows-that-are-completely-equal" data-toc-modified-id="Drop-duplicate-rows-that-are-completely-equal-9.1"><span class="toc-item-num">9.1&nbsp;&nbsp;</span>Drop duplicate rows that are completely equal</a></span></li><li><span><a href="#Select-a-subset-of-columns,-remove-all-other-columns,-and-then-use-the-drop_duplicates-method-to-drop-any-duplicate-records-based-on-the-remaining-columns." data-toc-modified-id="Select-a-subset-of-columns,-remove-all-other-columns,-and-then-use-the-drop_duplicates-method-to-drop-any-duplicate-records-based-on-the-remaining-columns.-9.2"><span class="toc-item-num">9.2&nbsp;&nbsp;</span>Select a subset of columns, remove all other columns, and then use the drop_duplicates method to drop any duplicate records based on the remaining columns.</a></span></li></ul></li><li><span><a href="#Export-clean-dataset" data-toc-modified-id="Export-clean-dataset-10"><span class="toc-item-num">10&nbsp;&nbsp;</span>Export clean dataset</a></span></li></ul></div>

# Data Cleaning


Lab Goals

+ Examine data for potential issues.
+ Identify and fill in missing values.
+ Identify and correct incorrect values.
+ Remove low variance columns.
+ Identify potential outliers.
+ Correct incorrect data types.
+ Remove special characters and clean categorical variables.
+ Identify and remove duplicate records.

Introduction

When working with data sets, you will find that they often require a bit of cleaning. Whether Pandas originally read the data types incorrectly, records are duplicated, the data contains special characters or missing value, or there are slightly different references to the same entity, every data analyst must know how to clean the data they are working with before analyzing it. In this lesson, you will learn about some of the most common problems that make data messy and methods for correcting those problems and cleaning your data.

The data set we are going to be using for this lesson is a messy version of the vehicles data set we worked with in the previous lesson. Let's import this version of our data set so that we can then practice cleaning it up.

In [983]:
import pandas as pd
import numpy as np

In [984]:
#Load data from vehicles_messy.csv

data = pd.read_csv('vehicles_messy_clean.csv')

# Examining Data for Potential Issues

One of the first things we want to do is examine the data and look for any **potential issues**. Some of the things we are interested in identifying in the data at this stage include:

- Missing values
- Special characters
- Incorrect values
- Extreme values or outliers
- Duplicate records
- Incorrect data types

The presence of these may cause problems when it's time to analyze the data, so we want to make sure we address them beforehand. We can start by visually inspecting the data using the `.head` method, which will show us the first 5 rows of data.

In [985]:
print(data.head())

   cylinders  displ              drive  engId fuelType         fuelType1  \
0        4.0    2.0   Rear-Wheel Drive   9011  Regular  Regular Gasoline
1        8.0    5.2   Rear-Wheel Drive   2850  Regular  Regular Gasoline
2        8.0    5.2   Rear-Wheel Drive   2850  Regular  Regular Gasoline
3        8.0    4.6  Front-Wheel Drive   4620  Premium  Premium Gasoline
4        8.0    4.9  Front-Wheel Drive   4640  Premium  Premium Gasoline

      id        make                model mpgData   trany        VClass  year  \
0      1  Alfa Romeo   Spider Veloce 2000       Y  MANUAL   Two Seaters  1985
1   1001       Dodge  B150/B250 Wagon 2WD       N    AUTO          Vans  1985
2   1002       Dodge  B150/B250 Wagon 2WD       N  MANUAL          Vans  1985
3  10027    Cadillac              Seville       Y    AUTO  Midsize Cars  1993
4  10028    Cadillac              Seville       N    AUTO  Midsize Cars  1993

                      createdOn                    modifiedOn
0  Tue Jan 01 00:00:00 EST 2013  Tue Jan 01 00:00:00 EST 2013
1  Tue Jan 01 00:00:00 EST 2013  Tue Jan 01 00:00:00 EST 2013
2  Tue Jan 01 00:00:00 EST 2013  Tue Jan 01 00:00:00 EST 2013
3  Tue Jan 01 00:00:00 EST 2013  Tue Jan 01 00:00:00 EST 2013
4  Tue Jan 01 00:00:00 EST 2013  Tue Jan 01 00:00:00 EST 2013

But how big actually is our dataframe??? Check it with `.shape` method

In [986]:
print(data.shape)

(15823, 15)

Let's dive a little more in the content of our data set. Is there any method that shows us the **column names**, its **data types** and number of **non-null values**?

In [987]:
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15823 entries, 0 to 15822
Data columns (total 15 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   cylinders   15823 non-null  float64
 1   displ       15823 non-null  float64
 2   drive       15823 non-null  object
 3   engId       15823 non-null  int64
 4   fuelType    15823 non-null  object
 5   fuelType1   15823 non-null  object
 6   id          15823 non-null  int64
 7   make        15823 non-null  object
 8   model       15823 non-null  object
 9   mpgData     15823 non-null  object
 10  trany       15823 non-null  object
 11  VClass      15823 non-null  object
 12  year        15823 non-null  int64
 13  createdOn   15823 non-null  object
 14  modifiedOn  15823 non-null  object
dtypes: float64(2), int64(3), object(10)
memory usage: 1.8+ MB
None

# Missing Values

From this initial view, we can see that our data set contains some columns that have missing values in them and others that seem to have a lot of zero values. 

Let's see how prevalent missing values are in our data. We can use the Pandas `.isnull()` method to check whether the value in each field is missing (*null*) and return either True or False for each field. 

We can use the `.sum()` method to total up the number of True values by column, and then we can add a condition using square brackets that will filter the data and show us only columns where the number of null values were greater than zero.

## Show the number of null values only of the columns that actually have null values

In [988]:
print(data.isnull())

       cylinders  displ  drive  engId  fuelType  fuelType1     id   make  \
0          False  False  False  False     False      False  False  False
1          False  False  False  False     False      False  False  False
2          False  False  False  False     False      False  False  False
3          False  False  False  False     False      False  False  False
4          False  False  False  False     False      False  False  False
...          ...    ...    ...    ...       ...        ...    ...    ...
15818      False  False  False  False     False      False  False  False
15819      False  False  False  False     False      False  False  False
15820      False  False  False  False     False      False  False  False
15821      False  False  False  False     False      False  False  False
15822      False  False  False  False     False      False  False  False

       model  mpgData  trany  VClass   year  createdOn  modifiedOn
0      False    False  False   False  False      False       False
1      False    False  False   False  False      False       False
2      False    False  False   False  False      False       False
3      False    False  False   False  False      False       False
4      False    False  False   False  False      False       False
...      ...      ...    ...     ...    ...        ...         ...
15818  False    False  False   False  False      False       False
15819  False    False  False   False  False      False       False
15820  False    False  False   False  False      False       False
15821  False    False  False   False  False      False       False
15822  False    False  False   False  False      False       False

[15823 rows x 15 columns]

We can see that some columns have relatively few null values while others have tens of thousands of nulls. For fields that have a lot of null values, you will often have to make a judgement call. If you don't think the information is going to be very useful to your analysis, then you would remove those columns from your data frame.

## Remove the columns that have more than 10,000 null values in them

In Pandas, we can do that using the drop method. For our purposes, let's remove the columns that have more than 10,000 null values in them. We will add these column names to a list, and then we will pass those columns to the drop method and indicate that we want columns (not rows) dropped by setting the axis parameter to 1.

In [989]:

def drop_missing_columns(df, thresh=10000):
    num_missing = df.isnull().sum()
    df = df.drop(num_missing[num_missing > thresh].index, axis=1)
    return df

data = drop_missing_columns(data)

print(data.isnull().sum())

cylinders     0
displ         0
drive         0
engId         0
fuelType      0
fuelType1     0
id            0
make          0
model         0
mpgData       0
trany         0
VClass        0
year          0
createdOn     0
modifiedOn    0
dtype: int64

This leaves us with just a handful of remaining columns that have null values. Of the columns that remain, it looks like the cylinders column and the displ column have a similar number of nulls. Perhaps they are missing for similar reasons. We can investigate this by subsetting the data set and looking at just the records where displ is null and just the columns we think will be informative in allowing us to determine a reason.

## Create a new dataframe that shows only the row where `displ` is null. 
Keep only the columns you think are useful

In [990]:
data2 = data[data['displ'].isnull()]
print(data2)

Empty DataFrame
Columns: [cylinders, displ, drive, engId, fuelType, fuelType1, id, make, model, mpgData, trany, VClass, year, createdOn, modifiedOn]
Index: []

## Fill nan values with the most appropriate technique 
*HINT: Electric cars do not have cylinders and can therefore not have any displacement*

In [991]:
data.fillna(0)

,cylinders,displ,drive,engId,fuelType,fuelType1,id,make,model,mpgData,trany,VClass,year,createdOn,modifiedOn
0,4.0,2.0,Rear-Wheel Drive,9011,Regular,Regular Gasoline,1,Alfa Romeo,Spider Veloce 2000,Y,MANUAL,Two Seaters,1985,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013
1,8.0,5.2,Rear-Wheel Drive,2850,Regular,Regular Gasoline,1001,Dodge,B150/B250 Wagon 2WD,N,AUTO,Vans,1985,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013
2,8.0,5.2,Rear-Wheel Drive,2850,Regular,Regular Gasoline,1002,Dodge,B150/B250 Wagon 2WD,N,MANUAL,Vans,1985,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013
3,8.0,4.6,Front-Wheel Drive,4620,Premium,Premium Gasoline,10027,Cadillac,Seville,Y,AUTO,Midsize Cars,1993,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013
4,8.0,4.9,Front-Wheel Drive,4640,Premium,Premium Gasoline,10028,Cadillac,Seville,N,AUTO,Midsize Cars,1993,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15818,8.0,5.2,Rear-Wheel Drive,2854,Regular,Regular Gasoline,999,Dodge,B150/B250 Wagon 2WD,N,AUTO,Vans,1985,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013
15819,4.0,1.9,Front-Wheel Drive,4107,Regular,Regular Gasoline,9991,Saturn,SL,Y,AUTO,Compact Cars,1993,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013
15820,4.0,1.9,Front-Wheel Drive,4104,Regular,Regular Gasoline,9992,Saturn,SL,Y,AUTO,Compact Cars,1993,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013
15821,4.0,1.9,Front-Wheel Drive,4107,Regular,Regular Gasoline,9993,Saturn,SL,Y,MANUAL,Compact Cars,1993,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013
15822,4.0,1.9,Front-Wheel Drive,4104,Regular,Regular Gasoline,9994,Saturn,SL,Y,MANUAL,Compact Cars,1993,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013

## Bonus: 
Now that we have filled in those null values, there are only two columns in the data set that still have null values: trany and drive. Use what you have learned in this section to investigate and potentially fill in the remaining null values.

In [992]:
print(data[data['trany'].isnull()])
print(data[data['drive'].isnull()])

Empty DataFrame
Columns: [cylinders, displ, drive, engId, fuelType, fuelType1, id, make, model, mpgData, trany, VClass, year, createdOn, modifiedOn]
Index: []
Empty DataFrame
Columns: [cylinders, displ, drive, engId, fuelType, fuelType1, id, make, model, mpgData, trany, VClass, year, createdOn, modifiedOn]
Index: []

# Incorrect Values

In addition to null values, we also want to try to identify any values that seem incorrect. For example, in the previous section, we learned that a vehicle without cylinders should not have displacement and vice versa. Let's check to see if there are any cases that violate these rules.

In [993]:
print(data[data['cylinders'].isnull() & data['displ'].notnull()])
print(data[data['cylinders'].notnull() & data['displ'].isnull()])

Empty DataFrame
Columns: [cylinders, displ, drive, engId, fuelType, fuelType1, id, make, model, mpgData, trany, VClass, year, createdOn, modifiedOn]
Index: []
Empty DataFrame
Columns: [cylinders, displ, drive, engId, fuelType, fuelType1, id, make, model, mpgData, trany, VClass, year, createdOn, modifiedOn]
Index: []

Is there any row that seems to have strange values?

In [994]:
# No, all values seem to be reasonable

Here we have identified a vehicle with a regular gasoline engine that reportedly does not have any cylinders but does have a value for displacement.

The way we would correct this would be to either perform some domain research or ask a domain expert to find out how many actual cylinders this vehicle had. Alternatively, you can also try to look at similar vehicles in the data set and determine the most likely value for this field.

## Check similar rows

In [995]:
print(data[data['cylinders'].isnull() & data['displ'].isnull()])
print(data[data['cylinders'].notnull() & data['displ'].notnull()])
print(data[data['cylinders'].isnull() & data['displ'].isnull() & data['trany'].notnull()])
print(data[data['cylinders'].notnull() & data['displ'].notnull() & data['trany'].isnull()])
print(data[data['cylinders'].isnull() & data['displ'].isnull() & data['trany'].isnull()])
print(data[data['cylinders'].notnull() & data['displ'].notnull() & data['trany'].notnull()])
print(data[data['cylinders'].isnull() & data['displ'].notnull() & data['trany'].notnull()])
print(data[data['cylinders'].notnull() & data['displ'].isnull() & data['trany'].notnull()])
print(data[data['cylinders'].notnull() & data['displ'].notnull() & data['trany'].isnull()])
print(data[data['cylinders'].notnull() & data['displ'].isnull() & data['trany'].isnull()])
print(data[data['cylinders'].isnull() & data['displ'].notnull() & data['trany'].isnull()])
print(data[data['cylinders'].isnull() & data['displ'].isnull() & data['trany'].notnull()])
print(data[data['cylinders'].notnull() & data['displ'].notnull() & data['trany'].notnull()])

Empty DataFrame
Columns: [cylinders, displ, drive, engId, fuelType, fuelType1, id, make, model, mpgData, trany, VClass, year, createdOn, modifiedOn]
Index: []
       cylinders  displ              drive  engId fuelType         fuelType1  \
0            4.0    2.0   Rear-Wheel Drive   9011  Regular  Regular Gasoline
1            8.0    5.2   Rear-Wheel Drive   2850  Regular  Regular Gasoline
2            8.0    5.2   Rear-Wheel Drive   2850  Regular  Regular Gasoline
3            8.0    4.6  Front-Wheel Drive   4620  Premium  Premium Gasoline
4            8.0    4.9  Front-Wheel Drive   4640  Premium  Premium Gasoline
...          ...    ...                ...    ...      ...               ...
15818        8.0    5.2   Rear-Wheel Drive   2854  Regular  Regular Gasoline
15819        4.0    1.9  Front-Wheel Drive   4107  Regular  Regular Gasoline
15820        4.0    1.9  Front-Wheel Drive   4104  Regular  Regular Gasoline
15821        4.0    1.9  Front-Wheel Drive   4107  Regular  Regular Gasoline
15822        4.0    1.9  Front-Wheel Drive   4104  Regular  Regular Gasoline

          id        make                model mpgData   trany        VClass  \
0          1  Alfa Romeo   Spider Veloce 2000       Y  MANUAL   Two Seaters
1       1001       Dodge  B150/B250 Wagon 2WD       N    AUTO          Vans
2       1002       Dodge  B150/B250 Wagon 2WD       N  MANUAL          Vans
3      10027    Cadillac              Seville       Y    AUTO  Midsize Cars
4      10028    Cadillac              Seville       N    AUTO  Midsize Cars
...      ...         ...                  ...     ...     ...           ...
15818    999       Dodge  B150/B250 Wagon 2WD       N    AUTO          Vans
15819   9991      Saturn                   SL       Y    AUTO  Compact Cars
15820   9992      Saturn                   SL       Y    AUTO  Compact Cars
15821   9993      Saturn                   SL       Y  MANUAL  Compact Cars
15822   9994      Saturn                   SL       Y  MANUAL  Compact Cars

       year                     createdOn                    modifiedOn
0      1985  Tue Jan 01 00:00:00 EST 2013  Tue Jan 01 00:00:00 EST 2013
1      1985  Tue Jan 01 00:00:00 EST 2013  Tue Jan 01 00:00:00 EST 2013
2      1985  Tue Jan 01 00:00:00 EST 2013  Tue Jan 01 00:00:00 EST 2013
3      1993  Tue Jan 01 00:00:00 EST 2013  Tue Jan 01 00:00:00 EST 2013
4      1993  Tue Jan 01 00:00:00 EST 2013  Tue Jan 01 00:00:00 EST 2013
...     ...                           ...                           ...
15818  1985  Tue Jan 01 00:00:00 EST 2013  Tue Jan 01 00:00:00 EST 2013
15819  1993  Tue Jan 01 00:00:00 EST 2013  Tue Jan 01 00:00:00 EST 2013
15820  1993  Tue Jan 01 00:00:00 EST 2013  Tue Jan 01 00:00:00 EST 2013
15821  1993  Tue Jan 01 00:00:00 EST 2013  Tue Jan 01 00:00:00 EST 2013
15822  1993  Tue Jan 01 00:00:00 EST 2013  Tue Jan 01 00:00:00 EST 2013

[15823 rows x 15 columns]
Empty DataFrame
Columns: [cylinders, displ, drive, engId, fuelType, fuelType1, id, make, model, mpgData, trany, VClass, year, createdOn, modifiedOn]
Index: []
Empty DataFrame
Columns: [cylinders, displ, drive, engId, fuelType, fuelType1, id, make, model, mpgData, trany, VClass, year, createdOn, modifiedOn]
Index: []
Empty DataFrame
Columns: [cylinders, displ, drive, engId, fuelType, fuelType1, id, make, model, mpgData, trany, VClass, year, createdOn, modifiedOn]
Index: []
       cylinders  displ              drive  engId fuelType         fuelType1  \
0            4.0    2.0   Rear-Wheel Drive   9011  Regular  Regular Gasoline
1            8.0    5.2   Rear-Wheel Drive   2850  Regular  Regular Gasoline
2            8.0    5.2   Rear-Wheel Drive   2850  Regular  Regular Gasoline
3            8.0    4.6  Front-Wheel Drive   4620  Premium  Premium Gasoline
4            8.0    4.9  Front-Wheel Drive   4640  Premium  Premium Gasoline
...          ...    ...                ...    ...      ...               ...
15818        8.0    5.2   Rear-Wheel Drive   2854  Regular  Regular Gasoline
15819        4.0    1.9  Front-Wheel Drive   4107  Regular  Regular Gasoline
15820        4.0    1.9  Front-Wheel Drive   4104  Regular  Regular Gasoline
15821        4.0    1.9  Front-Wheel Drive   4107  Regular  Regular Gasoline
15822        4.0    1.9  Front-Wheel Drive   4104  Regular  Regular Gasoline

          id        make                model mpgData   trany        VClass  \
0          1  Alfa Romeo   Spider Veloce 2000       Y  MANUAL   Two Seaters
1       1001       Dodge  B150/B250 Wagon 2WD       N    AUTO          Vans
2       1002       Dodge  B150/B250 Wagon 2WD       N  MANUAL          Vans
3      10027    Cadillac              Seville       Y    AUTO  Midsize Cars
4      10028    Cadillac              Seville       N    AUTO  Midsize Cars
...      ...         ...                  ...     ...     ...           ...
15818    999       Dodge  B150/B250 Wagon 2WD       N    AUTO          Vans
15819   9991      Saturn                   SL       Y    AUTO  Compact Cars
15820   9992      Saturn                   SL       Y    AUTO  Compact Cars
15821   9993      Saturn                   SL       Y  MANUAL  Compact Cars
15822   9994      Saturn                   SL       Y  MANUAL  Compact Cars

       year                     createdOn                    modifiedOn
0      1985  Tue Jan 01 00:00:00 EST 2013  Tue Jan 01 00:00:00 EST 2013
1      1985  Tue Jan 01 00:00:00 EST 2013  Tue Jan 01 00:00:00 EST 2013
2      1985  Tue Jan 01 00:00:00 EST 2013  Tue Jan 01 00:00:00 EST 2013
3      1993  Tue Jan 01 00:00:00 EST 2013  Tue Jan 01 00:00:00 EST 2013
4      1993  Tue Jan 01 00:00:00 EST 2013  Tue Jan 01 00:00:00 EST 2013
...     ...                           ...                           ...
15818  1985  Tue Jan 01 00:00:00 EST 2013  Tue Jan 01 00:00:00 EST 2013
15819  1993  Tue Jan 01 00:00:00 EST 2013  Tue Jan 01 00:00:00 EST 2013
15820  1993  Tue Jan 01 00:00:00 EST 2013  Tue Jan 01 00:00:00 EST 2013
15821  1993  Tue Jan 01 00:00:00 EST 2013  Tue Jan 01 00:00:00 EST 2013
15822  1993  Tue Jan 01 00:00:00 EST 2013  Tue Jan 01 00:00:00 EST 2013

[15823 rows x 15 columns]
Empty DataFrame
Columns: [cylinders, displ, drive, engId, fuelType, fuelType1, id, make, model, mpgData, trany, VClass, year, createdOn, modifiedOn]
Index: []
Empty DataFrame
Columns: [cylinders, displ, drive, engId, fuelType, fuelType1, id, make, model, mpgData, trany, VClass, year, createdOn, modifiedOn]
Index: []
Empty DataFrame
Columns: [cylinders, displ, drive, engId, fuelType, fuelType1, id, make, model, mpgData, trany, VClass, year, createdOn, modifiedOn]
Index: []
Empty DataFrame
Columns: [cylinders, displ, drive, engId, fuelType, fuelType1, id, make, model, mpgData, trany, VClass, year, createdOn, modifiedOn]
Index: []
Empty DataFrame
Columns: [cylinders, displ, drive, engId, fuelType, fuelType1, id, make, model, mpgData, trany, VClass, year, createdOn, modifiedOn]
Index: []
Empty DataFrame
Columns: [cylinders, displ, drive, engId, fuelType, fuelType1, id, make, model, mpgData, trany, VClass, year, createdOn, modifiedOn]
Index: []
       cylinders  displ              drive  engId fuelType         fuelType1  \
0            4.0    2.0   Rear-Wheel Drive   9011  Regular  Regular Gasoline
1            8.0    5.2   Rear-Wheel Drive   2850  Regular  Regular Gasoline
2            8.0    5.2   Rear-Wheel Drive   2850  Regular  Regular Gasoline
3            8.0    4.6  Front-Wheel Drive   4620  Premium  Premium Gasoline
4            8.0    4.9  Front-Wheel Drive   4640  Premium  Premium Gasoline
...          ...    ...                ...    ...      ...               ...
15818        8.0    5.2   Rear-Wheel Drive   2854  Regular  Regular Gasoline
15819        4.0    1.9  Front-Wheel Drive   4107  Regular  Regular Gasoline
15820        4.0    1.9  Front-Wheel Drive   4104  Regular  Regular Gasoline
15821        4.0    1.9  Front-Wheel Drive   4107  Regular  Regular Gasoline
15822        4.0    1.9  Front-Wheel Drive   4104  Regular  Regular Gasoline

          id        make                model mpgData   trany        VClass  \
0          1  Alfa Romeo   Spider Veloce 2000       Y  MANUAL   Two Seaters
1       1001       Dodge  B150/B250 Wagon 2WD       N    AUTO          Vans
2       1002       Dodge  B150/B250 Wagon 2WD       N  MANUAL          Vans
3      10027    Cadillac              Seville       Y    AUTO  Midsize Cars
4      10028    Cadillac              Seville       N    AUTO  Midsize Cars
...      ...         ...                  ...     ...     ...           ...
15818    999       Dodge  B150/B250 Wagon 2WD       N    AUTO          Vans
15819   9991      Saturn                   SL       Y    AUTO  Compact Cars
15820   9992      Saturn                   SL       Y    AUTO  Compact Cars
15821   9993      Saturn                   SL       Y  MANUAL  Compact Cars
15822   9994      Saturn                   SL       Y  MANUAL  Compact Cars

       year                     createdOn                    modifiedOn
0      1985  Tue Jan 01 00:00:00 EST 2013  Tue Jan 01 00:00:00 EST 2013
1      1985  Tue Jan 01 00:00:00 EST 2013  Tue Jan 01 00:00:00 EST 2013
2      1985  Tue Jan 01 00:00:00 EST 2013  Tue Jan 01 00:00:00 EST 2013
3      1993  Tue Jan 01 00:00:00 EST 2013  Tue Jan 01 00:00:00 EST 2013
4      1993  Tue Jan 01 00:00:00 EST 2013  Tue Jan 01 00:00:00 EST 2013
...     ...                           ...                           ...
15818  1985  Tue Jan 01 00:00:00 EST 2013  Tue Jan 01 00:00:00 EST 2013
15819  1993  Tue Jan 01 00:00:00 EST 2013  Tue Jan 01 00:00:00 EST 2013
15820  1993  Tue Jan 01 00:00:00 EST 2013  Tue Jan 01 00:00:00 EST 2013
15821  1993  Tue Jan 01 00:00:00 EST 2013  Tue Jan 01 00:00:00 EST 2013
15822  1993  Tue Jan 01 00:00:00 EST 2013  Tue Jan 01 00:00:00 EST 2013

[15823 rows x 15 columns]

Suppose that using one of the aforementioned methods, we found out that this vehicle actually has a 4 cylinder engine. Update that specific value in the data frame.

In [996]:
data.loc[111, 'cylinders'] = 4
print(data.iloc()[111])

cylinders                              4.0
displ                                  4.3
drive                     Rear-Wheel Drive
engId                                 4850
fuelType                           Regular
fuelType1                 Regular Gasoline
id                                    1026
make                                   GMC
model               Safari 2WD (passenger)
mpgData                                  N
trany                               MANUAL
VClass                                Vans
year                                  1985
createdOn     Tue Jan 01 00:00:00 EST 2013
modifiedOn    Tue Jan 01 00:00:00 EST 2013
Name: 111, dtype: object

## Bonus: 
 Try to find other values that might be incorrect in the data set based on what you know about automobiles and correct them.

In [997]:
data.loc[data['fuelType1'] == 'Electricity', 'cylinders'] = 0
print(data[data['fuelType1'] == 'Electricity'])

Empty DataFrame
Columns: [cylinders, displ, drive, engId, fuelType, fuelType1, id, make, model, mpgData, trany, VClass, year, createdOn, modifiedOn]
Index: []

# Low Variance Columns

When analyzing data, we want the fields we are working with to be informative, and we will want to strip away any columns that don't have a lot of value to us. One easy way to do this is to identify columns that have low variance, where the majority of the values in the column are the same. Since there is not a lot of variability in these columns, they have the potential to not be as informative as columns that have a variety of different values in them.

Let's try to identify columns where at least 90% of the values are the same so that we can remove them from our data set. To do this, we are going to create an empty list called low_variance that will eventually contain the names of columns that fit our criteria.

We will then write a for loop that will take the minimum and the 90th percentile value for all the numeric columns in our data set (identified via the _get_numeric_data method). If the 90th percentile and the minimum are equal to each other, that means that at least 90% of the values in that column are the same and we will append that column name to our low_variance list.

In [998]:
low_variance = []
def identify_low_variance(df, thresh=0.9):
    for col in df._get_numeric_data():
        minimum = min(df[col].value_counts(normalize=True))
        ninety_perc = np.percentile(df[col].value_counts(normalize=True), 90)
        if ninety_perc == minimum:
            low_variance.append(col)
    return low_variance

print(identify_low_variance(data))

['id']

This returned 34 columns that we could potentially eliminate due to not having high enough variability to be informative. Of course, before we do this, we should check the values that do exist in these fields to confirm that they are not very informative. Once they have been checked, we can use the the drop method like we did earlier in this lesson to remove those columns from our data frame.

## Use the the drop method like we did earlier in this lesson to remove the non informative columns from our data frame.

In [999]:
data = data.drop(low_variance, axis=1)
print(data.head())

   cylinders  displ              drive  engId fuelType         fuelType1  \
0        4.0    2.0   Rear-Wheel Drive   9011  Regular  Regular Gasoline
1        8.0    5.2   Rear-Wheel Drive   2850  Regular  Regular Gasoline
2        8.0    5.2   Rear-Wheel Drive   2850  Regular  Regular Gasoline
3        8.0    4.6  Front-Wheel Drive   4620  Premium  Premium Gasoline
4        8.0    4.9  Front-Wheel Drive   4640  Premium  Premium Gasoline

         make                model mpgData   trany        VClass  year  \
0  Alfa Romeo   Spider Veloce 2000       Y  MANUAL   Two Seaters  1985
1       Dodge  B150/B250 Wagon 2WD       N    AUTO          Vans  1985
2       Dodge  B150/B250 Wagon 2WD       N  MANUAL          Vans  1985
3    Cadillac              Seville       Y    AUTO  Midsize Cars  1993
4    Cadillac              Seville       N    AUTO  Midsize Cars  1993

                      createdOn                    modifiedOn
0  Tue Jan 01 00:00:00 EST 2013  Tue Jan 01 00:00:00 EST 2013
1  Tue Jan 01 00:00:00 EST 2013  Tue Jan 01 00:00:00 EST 2013
2  Tue Jan 01 00:00:00 EST 2013  Tue Jan 01 00:00:00 EST 2013
3  Tue Jan 01 00:00:00 EST 2013  Tue Jan 01 00:00:00 EST 2013
4  Tue Jan 01 00:00:00 EST 2013  Tue Jan 01 00:00:00 EST 2013

# Extreme Values and Outliers

Now that we have removed low variance columns, we should look for outliers, or extreme values, in the columns that remain. These outliers can influence our aggregations when we are analyzing data later, so we want to make sure we address them during our data cleaning stage.

A common method for identifying outliers is one that leverages the interquartile range (IQR). Once the IQR is calculated, it is multiplied by a constant (typically 1.5) and lower and upper bounds are established at:

    25th Percentile - (IQR x 1.5)
    75th Percentile + (IQR x 1.5)

Any values outside this range are potential outliers and should be investigated.

Let's look at how we would do this for our data set using Python. We will use the Pandas describe function to easily calculate the 25th and 75th percentiles for every column and transpose the results so that we can easily reference the values in calculating the interquartile ranges.

In [1000]:
stats = data.describe().transpose()
stats['IQR'] = stats['75%'] - stats['25%']
stats

,count,mean,std,min,25%,50%,75%,max,IQR
cylinders,15823.0,6.086520,1.467780,2.0,5.0,6.0,8.0,8.0,3.0
displ,15823.0,3.727100,1.240799,1.3,2.5,3.7,4.7,7.0,2.2
engId,15823.0,1494.669026,2039.825130,0.0,0.0,0.0,3641.0,10802.0,3641.0
year,15823.0,1998.998673,8.298513,1984.0,1992.0,2001.0,2006.0,2012.0,14.0

We will then create an empty data frame called outliers with the same columns as our data set. Finally, we will loop through each column in the data calculating the lower and upper bounds, retrieving records where the value for that column falls outside the bounds we established, and appending those results to our outlier data frame.

In [1001]:
outliers = pd.DataFrame(columns=data.columns)

for col in stats.index:
    iqr = stats.at[col,'IQR']
    cutoff = iqr * 1.5
    lower = stats.at[col,'25%'] - cutoff
    upper = stats.at[col,'75%'] + cutoff
    results = data[(data[col] < lower) | 
                   (data[col] > upper)].copy()
    results['Outlier'] = col
    outliers = outliers.append(results)
outliers.head()

,cylinders,displ,drive,engId,fuelType,fuelType1,make,model,mpgData,trany,VClass,year,createdOn,modifiedOn,Outlier
166,4.0,2.5,Rear-Wheel Drive,9580,Regular,Regular Gasoline,AM General,Post Office DJ5 2WD,N,AUTO,Special Purpose Vehicle 2WD,1985,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,engId
173,6.0,4.2,Rear-Wheel Drive,9590,Regular,Regular Gasoline,AM General,Post Office DJ8 2WD,N,AUTO,Special Purpose Vehicle 2WD,1985,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,engId
3921,8.0,4.9,Rear-Wheel Drive,10186,Regular,Regular Gasoline,Autokraft Limited,A.C.Mkiv,N,MANUAL,Two Seaters,1986,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,engId
11860,8.0,5.0,Rear-Wheel Drive,10187,Regular,Regular Gasoline,Autokraft Limited,A.C.Mkiv,N,MANUAL,Two Seaters,1987,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,engId
13128,6.0,2.5,Front-Wheel Drive,10801,Regular,Regular Gasoline,Sterling,825,N,AUTO,Compact Cars,1987,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,engId

Our outliers data frame should now be populated with records that you can investigate further and determine whether they should be kept in the data or dropped. The Outlier column we added before appending the results for the column to the outliers data frame will let you know what column in each record contained the outlier. If you find that this method is returning too many results, you can be more stringent with your cutoff criteria (e.g. increasing the constant by which you multiply the IQR to 3 instead of 1.5).

# Data Type Correction

One common problem that is often overlooked is incorrect data types. This typically occurs when there is a numeric variable that should actually be represented as a categorical variable.

## Check the data type of each column

In [1009]:
data.dtypes

year           int32
make          object
model         object
displ        float64
cylinders    float64
trany         object
drive         object
VClass        object
fuelType1     object
dtype: object

## Cleaning years
Do you think column year is a continuous variable? Would you change it onto another dtype?

In [1003]:
data['year'] = data['year'].astype(int)
data.dtypes

cylinders     float64
displ         float64
drive          object
engId           int64
fuelType       object
fuelType1      object
make           object
model          object
mpgData        object
trany          object
VClass         object
year            int32
createdOn      object
modifiedOn     object
dtype: object

You can apply this technique to any column whose data type you would like to change.

In [1004]:
"Change the data type of createdOn to datetime64[ns]"
data['createdOn'] = pd.to_datetime(data['createdOn'])
data['modifiedOn'] = pd.to_datetime(data['modifiedOn'])
data.dtypes

c:\Users\Usuario\anaconda3\lib\site-packages\dateutil\parser\_parser.py:1207: UnknownTimezoneWarning: tzname EST identified but not understood.  Pass `tzinfos` argument in order to correctly return a timezone-aware datetime.  In a future version, this will raise an exception.
  warnings.warn("tzname {tzname} identified but not understood.  "
c:\Users\Usuario\anaconda3\lib\site-packages\dateutil\parser\_parser.py:1207: UnknownTimezoneWarning: tzname EDT identified but not understood.  Pass `tzinfos` argument in order to correctly return a timezone-aware datetime.  In a future version, this will raise an exception.
  warnings.warn("tzname {tzname} identified but not understood.  "

cylinders            float64
displ                float64
drive                 object
engId                  int64
fuelType              object
fuelType1             object
make                  object
model                 object
mpgData               object
trany                 object
VClass                object
year                   int32
createdOn     datetime64[ns]
modifiedOn    datetime64[ns]
dtype: object

# Cleaning Text and Removing Special Characters

The presence of special characters in our fields has the potential to make analyzing our data challenging. Imagine not being able to perform calculations on a numeric field because it was currently represented as an object data type due to the fact that it had a dollar sign ($) in it. 

Similarly, imagine having a categorical field where you could not group records that belong in the same group together because in one field you are grouping by, terms that refer to the same thing are sometimes hyphenated. In cases like this, it is necessary to remove special characters so that we can properly analyze the data.

In our vehicles data set, the trany field has several special characters (parentheses, hyphens, etc.). Check the unique values and clean the column.

hint: check the `replace` function

In [1005]:
for col in data.columns:
    print(col, data[col].unique())

cylinders [4. 8. 6. 5. 2.]
displ [2.  5.2 4.6 4.9 3.3 2.5 3.  3.8 2.2 5.7 4.3 5.  3.5 1.9 6.2 2.8 3.9 5.9
 4.  5.8 2.3 4.2 3.1 2.6 1.8 3.2 2.1 6.5 3.4 2.4 1.6 4.1 5.4 4.4 1.5 2.9
 3.7 2.7 4.7 4.8 5.3 6.  5.5 3.6 4.5 1.3 5.6 6.1 7.  1.7 6.3 1.4]
drive ['Rear-Wheel Drive' 'Front-Wheel Drive' '4-Wheel or All-Wheel Drive'
 'All-Wheel Drive' 'Part-time 4-Wheel Drive' '4-Wheel Drive' 'unknown'
 '2-Wheel Drive']
engId [9011 2850 4620 ... 2949 2977 2878]
fuelType ['Regular' 'Premium' 'Diesel' 'Midgrade']
fuelType1 ['Regular Gasoline' 'Premium Gasoline' 'Diesel' 'Midgrade Gasoline']
make ['Alfa Romeo' 'Dodge' 'Cadillac' 'Chrysler' 'Ford' 'Mercury' 'Oldsmobile'
 'Plymouth' 'Buick' 'Chevrolet' 'Eagle' 'Lincoln' 'GMC' 'Pontiac' 'Saturn'
 'Jeep' 'AM General' 'American Motors Corporation' 'Mazda' 'Isuzu' 'Acura'
 'Aston Martin' 'BMW' 'Lotus' 'Porsche' 'Suzuki' 'Audi' 'Hyundai' 'Jaguar'
 'Kia' 'Lexus' 'Mercedes-Benz' 'Mitsubishi' 'Nissan' 'Subaru' 'Toyota'
 'Volkswagen' 'Volvo' 'Daewoo' 'Infiniti' 'Honda' 'Land Rover' 'Bentley'
 'Saab' 'Autokraft Limited' 'Morgan' 'BMW Alpina' 'Scion' 'Spyker'
 'Ferrari' 'Maserati' 'Hummer' 'MINI' 'Roush Performance' 'Shelby'
 'Saleen Performance' 'Tecstar, LP' 'Yugo' 'Wallace Environmental'
 'Import Trade Services' 'J.K. Motors' 'CX Automotive' 'Peugeot' 'Panos'
 'Saleen' 'Quantum Technologies' 'London Taxi' 'Red Shift Ltd.' 'Sterling'
 'Aurora Cars Ltd' 'General Motors']
model ['Spider Veloce 2000' 'B150/B250 Wagon 2WD' 'Seville' ...
 'Imperial/New Yorker Fifth Avenue' 'Cavalier Wagon'
 'Caravan C/V/Grand Caravan 4WD']
mpgData ['Y' 'N']
trany ['MANUAL' 'AUTO']
VClass ['Two Seaters' 'Vans' 'Midsize Cars' 'Large Cars' 'Small Station Wagons'
 'Small Pickup Trucks' 'Standard Pickup Trucks'
 'Special Purpose Vehicle 2WD' 'Special Purpose Vehicles'
 'Special Purpose Vehicle 4WD' 'Compact Cars' 'Subcompact Cars'
 'Minicompact Cars' 'Small Pickup Trucks 2WD' 'Standard Pickup Trucks 2WD'
 'Standard Pickup Trucks 4WD' 'Vans, Cargo Type' 'Vans, Passenger Type'
 'Minivan - 2WD' 'Minivan - 4WD' 'Sport Utility Vehicle - 2WD'
 'Sport Utility Vehicle - 4WD' 'Midsize Station Wagons'
 'Small Pickup Trucks 4WD' 'Midsize-Large Station Wagons'
 'Special Purpose Vehicle' 'Standard Pickup Trucks/2wd' 'Vans Passenger'
 'Special Purpose Vehicles/2wd' 'Special Purpose Vehicles/4wd']
year [1985 1993 1994 1995 1996 1997 1998 1999 2000 2001 1986 2002 2003 2004
 2005 2006 2007 2008 2009 2010 1984 1987 1988 1989 1990 1991 1992 2011
 2012]
createdOn ['2013-01-01T00:00:00.000000000' '2013-12-04T00:00:00.000000000'
 '2014-02-17T00:00:00.000000000']
modifiedOn ['2013-01-01T00:00:00.000000000' '2014-08-14T00:00:00.000000000'
 '2014-05-05T00:00:00.000000000' '2014-11-07T00:00:00.000000000'
 '2014-07-07T00:00:00.000000000' '2016-08-17T00:00:00.000000000'
 '2015-03-25T00:00:00.000000000' '2014-01-06T00:00:00.000000000'
 '2016-04-04T00:00:00.000000000' '2013-12-04T00:00:00.000000000'
 '2016-03-10T00:00:00.000000000' '2016-07-07T00:00:00.000000000'
 '2016-07-27T00:00:00.000000000']

As you can see, we now have no special characters, consistent naming, and proper spacing. We started out with 47 unique values in this column, and using this technique, we were able to reduce the number of unique values to 39.



# Finding and Removing Duplicates

The final topic we are going to cover in this lab is how to identify and remove duplicate rows (or rows that refer to the same entity) in our data. When trying to identify duplicates, we will use the columns (or attributes) of the data to help us determine what entities are similar enough to be considered the same entity. We want to start with all the columns we currently have available to us and work our way toward a lesser number of attributes in an intuitive fashion. In this process, the act of dropping duplicated records is easy, but identifying the correct attributes for comparison and which records to drop is sometimes quite challenging.

The first thing we will do is attempt to drop any duplicate records, considering all the columns we currently have in the data set. 

Pandas provides us with the ability to do that via the `drop_duplicates method`.

## Drop duplicate rows that are completely equal

In [1006]:
data = data.drop_duplicates()
print(data.shape)

(15380, 14)

This tells us that there were no records that matched exactly across all columns. However, if we reduce the number of columns in our data that we are interested in, we can try again and have a higher likelihood of finding duplicate records.

## Select a subset of columns, remove all other columns, and then use the drop_duplicates method to drop any duplicate records based on the remaining columns.

In [1007]:
"""Select a subset of columns, remove all other columns, and then use the drop_duplicates method to drop any duplicate records based on the remaining columns."""
data = data[['year', 'make', 'model', 'displ', 'cylinders', 'trany', 'drive', 'VClass', 'fuelType1']]
data = data.drop_duplicates()
print(data.shape)

(13969, 9)

With the reduced number of columns, we were able to identify and drop 885 duplicate records.

# Export clean dataset
Export your bright new clean dataset into a csv file and store it in data folder.

In [1008]:
data.to_csv('vehicles_cleaned.csv', index=False)